# Entorno virtual y dependencias
.venv/
venv/
env/
ENV/
dist/
build/
*.egg-info/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Modelos pesados y pesos de redes neuronales (YOLO)
*.pt
*.onnx
assets/models/*.pkl
assets/models/*.task

# Datasets y archivos CSV grandes
dataset/
dataset_caracteristicas.csv

# Informes y PDFs (para mantener el repositorio limpio)
INFORME-PROYECTO-PEVICO/

# Archivos de configuración local del editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Sistemas operativos
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
